{% extends "base.html" %}

{% block title %}New Sale - POS System{% endblock %}
{% block page_title %}New Sale{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5><i class="fas fa-plus"></i> Create New Sale</h5>
            </div>
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.customer_id.label(class="form-label") }}
                            {{ form.customer_id(class="form-select") }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.van_id.label(class="form-label") }}
                            {{ form.van_id(class="form-select") }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.payment_method.label(class="form-label") }}
                            {{ form.payment_method(class="form-select") }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.is_gst_invoice.label(class="form-label") }}
                            {{ form.is_gst_invoice(class="form-select") }}
                        </div>
                    </div>
                    <div class="d-grid">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
